.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	color: $color-blue;
	position: relative;
	z-index: 2;
	.container {
		padding: 14px 16px;
		opacity: 0;
		animation: fadeFromTop 0.6s 0.8s forwards;
		
	}
	&__logo {
		flex: 0 0 15%;
		font-size: 29px;
		height: 42px;
		display: flex;
		align-items: center;
		white-space: nowrap;
		span {
			font-family: $font-400;
			margin-right: 10px;
		}
	}
	&__line {
		height: 42px;
		border-right: 1px solid $color-gray;
	}
	&__menu {
		flex: 0 0 85%;
		padding-left: 24px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include devices {
			// stylelint-disable-next-line declaration-no-important
			padding-left: 0;
			opacity: 0;
			background-color: $color-white;
			position: absolute;
			z-index: 100;
			top: 100%;
			left: 0;
			height: calc(100vh - 70px);
			width: 100vw;
			max-height: 0;
			transition: all 0.6s ease;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			&.opened {
				opacity: 1;
				max-height: 2000px;
			}
		}
	}
	&__list {
		flex: 0 0 80%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include devices {
			flex: 0 0 auto;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			font-size: 24px;
			a:not(:first-child) {
				margin-top: 5vh;
			}
		}
	}
	&__socials {
		margin-right: 8px;
		a:not(:first-child) {
			margin-left: 16px;
		}
		@include devices {
			margin-top: 8vh;
		}
	}
	&__burger {
		cursor: pointer;
		.line{
			width: 30px;
			border-bottom: 2px solid $color-blue;
			transition: all 0.4s ease;
			&:not(:first-child) {
				margin-top: 8px;
			}
		}
		&.opened {
			.line {
				margin: 0;
				&:first-child {
					transform: translateY(2px) rotate(45deg);
				}
				&:nth-child(2) {
					transform: rotate(-45deg);
				}
				&:last-child {
					opacity: 0;
				}
			}
		}
	}
}
