footer.footer
	.container
		.footer__contacts
			a(href="mailto:"+data.footerLinks.email)=data.footerLinks.email
			a(href="tel:"+data.footerLinks.phone)=data.footerLinks.phone
		.footer__privacy
			a(href=data.footerLinks.privacy)
				| Правовая информация

