-
	const data = {
		header: {
			links: {
				logo: '#',
				fb: 'https://facebook.com'
			},
			menu: [
				{
					url: '#',
					name: 'Конференция'
				},
				{
					url: '#',
					name: 'Программа'
				},
				{
					url: '#',
					name: 'Спикеры'
				},
				{
					url: '#',
					name: 'Фото'
				},
				{
					url: '#',
					name: 'Материалы'
				}
			]
		},

		speakers: {
			items: [
				{
					photo: 'images/photo.png',
					name: 'Ярон Фаризон',
					position: 'CEO MediaCom'
				},
				{
					photo: 'images/photo.png',
					name: 'Ярон Фаризон',
					position: 'CEO MediaCom'
				},
				{
					photo: 'images/photo.png',
					name: 'Ярон Фаризон',
					position: 'CEO MediaCom'
				},
				{
					photo: 'images/photo.png',
					name: 'Ярон Фаризон',
					position: 'CEO MediaCom'
				},
				{
					photo: 'images/photo.png',
					name: 'Ярон Фаризон',
					position: 'CEO MediaCom'
				},
				{
					photo: 'images/photo.png',
					name: 'Ярон Фаризон',
					position: 'CEO MediaCom'
				},
				{
					photo: 'images/photo.png',
					name: 'Ярон Фаризон',
					position: 'CEO MediaCom'
				},
				{
					photo: 'images/photo.png',
					name: 'Ярон Фаризон',
					position: 'CEO MediaCom'
				},
				{
					photo: 'images/photo.png',
					name: 'Ярон Фаризон',
					position: 'CEO MediaCom'
				},
				{
					photo: 'images/photo.png',
					name: 'Ярон Фаризон',
					position: 'CEO MediaCom'
				},
				{
					photo: 'images/photo.png',
					name: 'Ярон Фаризон',
					position: 'CEO MediaCom'
				},
				{
					photo: 'images/photo.png',
					name: 'Ярон Фаризон',
					position: 'CEO MediaCom'
				},
				{
					photo: 'images/photo.png',
					name: 'Ярон Фаризон',
					position: 'CEO MediaCom'
				},
				{
					photo: 'images/photo.png',
					name: 'Ярон Фаризон',
					position: 'CEO MediaCom'
				}
			]
		},

		footerLinks: {
			email: 'info@groupmnextm.ru',
			phone: '+7 (495) 641-40-80',
			privacy: '#',
		}
	};

script.
	window.data = {
		//- home: !{JSON.stringify(data.home)},
	};
